.main-container{
    /* position: fixed; */
    width: 100%;
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.font-link-mon {
    font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
  }
.font-link-rob {
    font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34CEA1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}